/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
}

* {
  font-family: 'IBM Plex Sans', sans-serif;
  /* font-weight: 400; */
}

button {
  cursor: pointer;
}

button:active {
  opacity: 75%;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  opacity: 75%;
}

p {
  margin: 0;
}
